$black: black;
$white: white;
$brightBlack: #4A4A4A;
$skyBlue: #299CBD;
$brightSkyBlue: #B4E2FF;
$lightGrey: #d8d8d8;
$grey: #888888;
$darkGrey: #4A4A4A;
$yellow: #F9BF3B;

// button colors
$darkSkyBLue: #2798B9;
$lightSkyBLue: #3AB6DA;