.gifts {
	min-height: 630px;
	background: $white;
	padding: 90px 20px;

	&__icon {
		max-width: 155px;
		max-height: 175px;
		margin: 0 auto;
		margin-bottom: 45px;

		img {
			width: 100%;
			object-fit: cover;
			user-select: none;
		}
	}

	&__descr {
		font-weight: 400;
		font-size: 30px;
		line-height: 43px;
		text-align: center;
		color: $black;
		text-align: center;
	}

	&__button {
		margin-top: 50px;
	}
}