@media (max-width: 1439px) {
	.container {
		max-width: 960px;
	}

	.optimization {
		padding: 80px 20px 40px;

		&__wrapper {
			max-width: 640px;
		}

		&__title {
			font-size: 23px;
		}

		&__descr {
			font-size: 18px;
		}

		&__image {
			top: 0;
		}
	}
}

@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 720px;
	}

	.optimization {
		padding: 70px 20px 40px;

		&__image {
			display: none;
		}

		&__image2 {
			display: block;
			width: 300px;
			// height: 300px;
			float: left;

			img {
				width: 100%;
			}
		}

		&__wrapper {
			margin: 0 auto;
			width: 100%;
		}

		&__title {
			font-size: 28px;
			margin-bottom: 25px;
		}

		&__descr {
			font-size: 20px;
			text-align: justify;

		}
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 540px;
	}

	.optimization {
		&__image2 {
			width: 200px;
		}

	}
}

@media (max-width: 576px) {
	.container {
		max-width: auto;
	}

	.optimization {

		&__title {
			font-size: 25px;
		}

		&__descr {
			font-size: 18px;
		}
	}
}

@media (max-width: 320px) {
	.container {
		max-width: 100%;
		padding: 0 10px;
	}

	.optimization {
		&__image2 {
			display: none;
		}

		&__title {
			font-size: 21px;
		}

		&__descr {
			font-size: 17px;
			text-align: center;
		}
	}
}